<!DOCTYPE html>
<html lang="en" dir="ltr" data-theme="light">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&amp;family=Roboto+Mono&amp;display=swap" rel="stylesheet">
	<link href="..\../assets/build/styles/ltr-core.css" rel="stylesheet">
	<link href="..\../assets/build/styles/ltr-vendor.css" rel="stylesheet">
	<link href="..\../assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<title>SiVeO</title>
</head>

<body class="preload-active aside-active sidebar-active">
	<!-- BEGIN Preload -->
	<div class="preload">
		<div class="preload-dialog">
			<!-- BEGIN Spinner -->
			<div class="spinner-border text-primary preload-spinner"></div>
			<!-- END Spinner -->
		</div>
	</div>
	<!-- END Preload -->
	<!-- BEGIN Page Holder -->
	<div class="holder">
		<!-- END Sidebar -->
		<!-- BEGIN Page Wrapper -->
		<div class="wrapper ">
			<!-- BEGIN Header -->
			<div class="header">
				<!-- BEGIN Header Holder -->
				<div class="header-holder header-holder-desktop">
					{{>'barra'}}
				</div>
				<!-- END Header Holder -->
			</div>
			<!-- END Header -->

			<!-- BEGIN Page Content -->
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<!-- BEGIN Portlet -->
							<h1 >Productos</h1>
							<div class="portlet">
									<div class="portlet-header portlet-header-bordered" style="justify-content: space-between">
									<h2 >Alta de productos</h2>
									<button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal3">Nuevo</button>	
									
								</div>
								
								<div class="portlet-body">
									<!-- BEGIN Datatable -->
									<div id="datatable-1_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
    <div class="row">
        <div class="col-sm-12 col-md-6">
        </div>
            <div class="col-sm-12 col-md-6">
                <div id="datatable-1_filter" class="dataTables_filter">
                    <label><input type="search" class="form-control form-control-sm" placeholder="Buscar:" aria-controls="datatable-1"></label>
                </div>
            </div>
        </div>
        <div class="row dt-row">
            <div class="col-sm-12">
                <table id="datatable-1" class="table table-bordered table-striped table-hover dataTable no-footer dtr-inline" aria-describedby="datatable-1_info" style="width: 1046px;">
												<thead>
													<tr>
														<th>Descripci贸n</th>
														<th>Precio</th>
														<th>Acciones</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Producto</td>
														<td>$ 0000</td>
														<td>
															<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
																<div >
																	<p>Editar</p>
																</div>
															</button>

															<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal2">
																<div >
																	<p>Eliminar</p>
																</div>
															</button>
														</td>
													</tr>
													<tr>
														<td>Producto</td>
														<td>$ 0000</td>
														<td>
															<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
																<div >
																	<p>Editar</p>
																</div>
															</button>

															<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal2">
																<div >
																	<p>Eliminar</p>
																</div>
															</button>
														</td>
													</tr>
													<tr>
														<td>Producto</td>
														<td>$ 0000</td>
														<td>
															<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
																<div >
																	<p>Editar</p>
																</div>
															</button>

															<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal2">
																<div >
																	<p>Eliminar</p>
																</div>
															</button>
														</td>
													</tr>
													<tr>
														<td>Producto</td>
														<td>$ 0000</td>
														<td>
															<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
																<div >
																	<p>Editar</p>
																</div>
															</button>

															<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal2">
																<div >
																	<p>Eliminar</p>
																</div>
															</button>
														</td>
													</tr>
													<tr>
														<td>Producto</td>
														<td>$ 0000</td>
														<td>
															<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
																<div >
																	<p>Editar</p>
																</div>
															</button>

															<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal2">
																<div >
																	<p>Eliminar</p>
																</div>
															</button>
														</td>
													</tr>
													<tr>
														<td>Producto</td>
														<td>$ 0000</td>
														<td>
															<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
																<div >
																	<p>Editar</p>
																</div>
															</button>

															<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal2">
																<div >
																	<p>Eliminar</p>
																</div>
															</button>
														</td>
													</tr>
													<tr>
														<td>Producto</td>
														<td>$ 0000</td>
														<td>
															<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
																<div >
																	<p>Editar</p>
																</div>
															</button>

															<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal2">
																<div >
																	<p>Eliminar</p>
																</div>
															</button>
														</td>
													</tr>
													<tr>
														<td>Producto</td>
														<td>$ 0000</td>
														<td>
															<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
																<div >
																	<p>Editar</p>
																</div>
															</button>

															<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal2">
																<div >
																	<p>Eliminar</p>
																</div>
															</button>
														</td>
													</tr>
										</tbody>
									</table>

<div class="modal fade" id="modal1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header ">
        <h5 >Editar producto</h5>
        <button type="button" class="btn btn-label-danger btn-icon" data-bs-dismiss="modal">
          <i class="fa fa-times"></i>
        </button>
      </div>

      <div class="modal-body">
        <p><label for="nombre">Descripci贸n</label></p>
        <input type="text" id="input_G" name="descripcion" placeholder="">
        <p></p>
        <table>
          <thead>
            <th>Categoria</th>
            <th>Proveedor</th>
          </thead>
          <tbody>
            <th> 
              <select id="opciones" name="opciones">
                <option value="opcion1">Seleccione</option>
                <option value="opcion2">Seleccione</option>
                <option value="opcion3">Seleccione</option>
              </select>
            </th>
            <th> 
              <select id="opciones2" name="opciones2">
                <option value="opcion1">Seleccione</option>
                <option value="opcion2">Seleccione</option>
                <option value="opcion3">Seleccione</option>
              </select>
            </th>
          </tbody>
        </table>
        <p></p>
        <p><label for="precio">Precio</label></p>
        <input type="text" id="precio" name="precio" placeholder="">
        <p></p>
      </div>
      <div class="modal-footer" style="display: flex; justify-content: space-between; margin: 10px;">
        <a href="productos" class="btn btn-primary" style="margin-right: auto;">Actualizar</a>
		<a href="productos" class="btn btn-label-dark" style="margin-left: auto;">Cancelar</a>
      </div>
    </div>
  </div>
</div>

	<div class="modal fade" id="modal2">
		<div class="modal-dialog">
			<div class="modal-content">
				 <div class="modal-header  ">
        			<h5 class="modal-title ">Eliminar producto</h5>
      				  <button type="button" class="btn btn-label-danger btn-icon" data-bs-dismiss="modal">
       				   <i class="fa fa-times"></i>
      				  </button>
     			 </div>
				<div class="modal-body" style="text-align: center; padding: 50px 0;">
 					  <h5><p class="mb-0" style="margin: auto; max-width: 80%;">desea eliminar el producto ?</p></h5>
				</div>
				<div class="modal-footer">
				 	<a href="productos" class="btn btn-danger" style="margin-right: auto;">Eliminar</a>
					<a href="productos" class="btn btn-label-dark" style="margin-left: auto;">Cancelar</a>
				</div>
			</div>
		</div>
	</div>

<div class="modal fade" id="modal3">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header ">
    				<h5 class="modal-title ">Nuevo producto</h5>
   				 <button type="button" class="btn btn-label-danger btn-icon" data-bs-dismiss="modal">
       				 <i class="fa fa-times"></i>
   				 </button>
				</div>

				<div class="modal-body">
					 <p><label for="nombre">Descripci贸n</label></p>
      					<input type="text" id="input_G" name="descripcion" placeholder="Descripci贸n">
						<p></p>
					<table>
						<thead>
							<th>Categoria</th>
							<th>Proveedor</th>
						</thead>
						<tbody>
							<th> <select id="opciones" name="opciones">
							<option value="opcion1">Seleccione</option>
							<option value="opcion2">Seleccione</option>
							<option value="opcion3">Seleccione</option>
						</select></th>
												<th> <select id="opciones" name="opciones">
							<option value="opcion1">Seleccione</option>
							<option value="opcion2">Seleccione</option>
							<option value="opcion3">Seleccione</option>
						</select></th>
						</tbody>
					</table>
						<p></p>
 							<p><label for="precio">Precio</label></p>
      					<input type="text" id="precio" name="precio" placeholder="">
						<p></p>
				</div>
				<div class="modal-footer" style="display: flex; justify-content: space-between; margin: 10px;">
				<a href="productos" class="btn btn-success" style="margin-right: auto;">Guardar</a>
						<a href="productos" class="btn btn-label-dark" style="margin-left: auto;">Cancelar</a>
				</div>
							</div>
						</div>
					</div>

                                </div>
                            </div>
                            <div class="row">
                              
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-1_paginate">
                                        <ul class="pagination">
                                            <li class="paginate_button page-item previous disabled" id="datatable-1_previous"><a href="#" aria-controls="datatable-1" data-dt-idx="previous" tabindex="0" class="page-link">Anterior</a></li>
                                            <li class="paginate_button page-item active"><a href="#" aria-controls="datatable-1" data-dt-idx="0" tabindex="0" class="page-link">1</a></li>
                                            <li class="paginate_button page-item next disabled" id="datatable-1_next"><a href="#" aria-controls="datatable-1" data-dt-idx="next" tabindex="0" class="page-link">Siguiente</a>
                                            </li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
						
									<!-- END Datatable -->

	
								</div>
								
							</div>
							<!-- END Portlet -->
						</div>
					</div>
				</div>
				
			</div>
			<!-- END Page Content -->
			<!-- BEGIN Footer -->
			<div class="footer">
				{{>'footer'}}
			</div>
			<!-- END Footer -->
		</div>

	</div>
	<!-- END Page Holder -->
	<!-- BEGIN Float Button -->

	<!-- END Offcanvas -->
	<script type="text/javascript" src="..\../assets/build/scripts/mandatory.js"></script>
	<script type="text/javascript" src="..\../assets/build/scripts/core.js"></script>
	<script type="text/javascript" src="..\../assets/build/scripts/vendor.js"></script>
	<script type="text/javascript" src="..\../assets/app/utilities/copyright-year.js"></script>
	<script type="text/javascript" src="..\../assets/app/utilities/theme-switcher.js"></script>
	<script type="text/javascript" src="..\../assets/app/utilities/tooltip-popover.js"></script>
	<script type="text/javascript" src="..\../assets/app/utilities/dropdown-scrollbar.js"></script>
	<script type="text/javascript" src="..\../assets/app/pages/datatable/advanced/column-rendering.js"></script>
</body>

</html>
